<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name='viewport' content='width=device-width'>

  <title>{{ title }} - Sconner.net</title>
  <meta name='description' content={{ site.description }}>
  <meta name="theme-color" content="#ffffff" />

  <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon/favicon-32x32.png">
  <link rel="apple-touch-icon" href="/assets/img/favicon/apple-touch-icon.png">
  <link rel="manifest" href="/manifest.json" />

  <link href="https://unpkg.com/prismjs@1.20.0/themes/prism-okaidia.css" rel="stylesheet">
  <link href="/assets/styles/tailwind.css" rel="stylesheet" />
  <link href="/assets/styles/index.css" rel="stylesheet" />
  <script>
    const isDarkMode = () => localStorage.theme === 'dark' || (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches);

    if (isDarkMode()) {
      document.documentElement.classList.add('dark')
    } else {
      document.documentElement.classList.remove('dark')
    }
  </script>
</head>
<header class="flex flex-col" role="banner">
  <div class="flex-1 w-10/12 max-w-screen-sm md:max-w-screen-lg mx-auto">
    {% include 'blognav' %}
  </div>
</header>

<body class="dark:text-white dark:bg-gray-900">

  {{ content }}

  <script>
    const isDarkModeContent = () => localStorage.theme === 'dark' || (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches);

    var themey = document.getElementById("toggleDarkMode")

    if (isDarkModeContent()) {

      themey.innerHTML = "Use light theme"
      themey.classList.add('btnFocusWhite')
      themey.classList.remove('btnFocusBlack')

    } else {
      themey.innerHTML = "Use dark theme"
      themey.classList.remove('btnFocusWhite')
      themey.classList.add('btnFocusBlack')

    }
    document.getElementById("toggleDarkMode").addEventListener("click", function () {

      const themetext = document.getElementById("toggleDarkMode")

      if (isDarkMode()) {
        localStorage.theme = 'light'
        document.documentElement.classList.remove('dark')
        themetext.innerHTML = "Use dark theme"
        themey.classList.add('btnFocusBlack')
        themey.classList.remove('btnFocusWhite')

      } else {
        localStorage.theme = 'dark'
        document.documentElement.classList.add('dark')
        themetext.innerHTML = "Use light theme"
        themey.classList.remove('btnFocusBlack')
        themey.classList.add('btnFocusWhite')
      }
    });
  </script>

</body>

</html>