---
layout: main
---
  

<h1 class="text-4xl md:text-7xl font-black py-10 md:py-5 leading-tight mt-10 mb-0 underline decoration-pink-700 decoration-8 underline-offset-8 mb-3">
 {{ title }}
</h1>

{{ content }}