<footer role="contentinfo" class="mt-8 bg-gray-200 dark:bg-gray-900 py-8 flex-shrink-0 border-t-4 border-gray-800  rounded-xl p-10 shadow-2xl shadow-inner">

    <div class="flex dark:prose-dark">
      <div class="flex w-full max-w-screen-sm md:max-w-screen-lg mx-0 md:mx-auto lg:mx-auto xlg:mx-auto">
          <div class="flex w-2/3">
            <ul class="sm:flex flex-auto w-1/2" role="list">
              {% if site.accessibility.linktext %}
              <li role="listitem" class="mr-8"><a class="text-lg sm:text-xl" href={{ site.accessibility.URL }}>{{
                  site.accessibility.linktext }}</a>
              </li>
              {% endif %}
              <li role="listitem" class="mr-8 text-lg sm:xl">
                <a class="text-lg sm:text-xl" href="/Privacy">Privacy</a>
              </li>
              <li role="listitem" class="mr-8">
                <a class="text-lg sm:text-xl" href="/sitemap">Sitemap</a>
              </li>
            </ul>

          </div>
          <p class="text-m sm:text-xl text-gray-500 ml-auto">Copyright &copy; Sconner.net 2022</p>
      </div>

      </div>
    </div>

</footer>