---
layout: baseblogpost
---

<div class="min-h-screen flex flex-col">

  <main id="main" role="main" class="flex-1 w-10/12 max-w-screen-sm md:max-w-screen-lg mx-auto" tabindex="-1">

    <div class=" prose-lg dark:prose-dark">
      {{ content }}
    </div>

  </main>
  <div class="dark:prose-dark">
    {% include 'footer' %}
  </div>
</div>