@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    a {
        @apply text-pink-700;
        text-decoration: underline;
    }
    a:hover {
        text-decoration: underline;
        background-color: black;
        color: white;
    }
    a:focus {
        box-shadow: 0 -2px #Bf125D, 0 4px #000;
        outline: none;
        background-color: #Bf125D;
        text-decoration: none;
        color: white;
    }
}

.noUnderline {
    text-decoration: none !important;
}
.skip-link {
    left: -9999px;
    padding: 8px;
    position: absolute;
}
.skip-link:focus {
    left: 16px;
    top: 16px;
    z-index: 2;
}
:focus-within {
    outline: none;
}
.menu-checkbox,
.menu {
    display: none;
}

.menu-toggle {
    font-size: 36px;
}

.menu a {
    display: block;
}

.menu-checkbox:checked + .menu {
    display: block;
}
button#theme-toggle { display: none; }

.js-enabled button#theme-toggle { display: block; }

button#theme-toggle-mob { display: none; }

.js-enabled button#theme-toggle-mob { display: initial; }

button#menubtn { display: none; }

.js-enabled button#menubtn { display: initial }

#nojs-mobile-menu { display: block; }

.js-enabled #nojs-mobile-menu { display: none; }