---
layout: default
title: Blog
tags: content
pagination:
  data: collections.blog
  size: 10
  reverse: true
  alias: blog
---

{% for post in pagination.items %}
{% if post.data.published %}
<article class="py-4">
  <h2 class="mb-3 text-xl sm:text-4xl font-bold">
  {{ post.data.title }}
  </h2>
  <p>Published: {{ post.date | date: "%d-%m-%Y" }}</p>
  <p class="pb-4 border-b-4 border-gray-800">Read time: {{ post.templateContent | readTime }} minutes</p>
  <p class="mt-4 text-xl">{{ post.data.post_excerpt }}...</p>
  
  <div class="grid justify-items-end mt-4">
    <a class="flex-none hover:underline font-semibold text-xl" href="{{ post.url }}">Continue reading<span class="visually-hidden"> {{ post.data.title }}</span></a>
  </div>

</article>

{% endif %}
{% endfor %}


{% include 'paginator' %}